<%- include('header'); -%>
<h3><%= clubMember.name%></h3>
<p><%= clubMember.email%></p>
<p><%= clubMember.phonenumber%></p>
<p><%= clubMember.favfood%></p>
<p><%= clubMember.createdAt%></p>
<button onclick="location.href='/member/<%=clubMember._id%>/delete' ">Ta bort medlem</button>

<form action="/member/update/<%=clubMember._id%>" method="POST" >
        <input type="text" name="name" value="<%= clubMember.name %>" /><br><br>
        <input type="text" name="phonenumber" value="<%= clubMember.phonenumber %>" /><br><br>
        <input type="text" name="email" value="<%= clubMember.email %>" /><br><br>
        <input type="text" name="favfood" value="<%= clubMember.favfood %>" /><br><br>
        <input type="submit" value="Ändra uppgifter"/><br><br><br>
</form>
<%- include('footer'); -%>